version: "3.9"

services:
  backend:
    build: ./backend
    container_name: backend_app
    ports:
      - "5000:5000"
    networks:
      - autos_net

  frontend:
    build: ./frontend
    container_name: frontend_app
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - autos_net

networks:
  autos_net:
    driver: bridge
